body{
	margin:0;
	padding-left:50px;
	padding-top:20px;

	font-family:sans-serif;
	background:#34495e;
}
.box{
	width:300px;
	padding:40px;
	position:absolute;
	border-radius:20px;

	margin-top:308px;
	left:50%;
	transform:translate(-50%,-50%);
	background:#f1f1f1;
	text-align:center;
}
.box h1{
	color:white;
	text-transform:uppercase;
	font-weight:500;
}
.box input[type="text"],.box input[type="password"]{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #3498db;
	width:200px;
	padding:14px 10px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	width:280px;
	border-color:#2ecc71;
}
.box input[type="submit"]
{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #2ecc71;
	width:200px;
	padding:14px 40px;
	outline:none;
	color:green;
	border-radius:18px;
	transition:0.25s;
	cursor:pointer;
}

.box input[type="submit"]:hover{
	background:f00;
}
.blood{
	border-radius:20px;
}









.header{
	width: 94%;
	height: 171px;
	background-color: #f5f5f5;
	display: -webkit-box;
	padding: 15px;
}
.header h1{
	position: relative;
    top: 0px;
	left: -364px;
}
.sign{
	height: 79px;
	text-align: center;
	font-size: 20px;
	border-radius: 30px;
}
.sign img[src="images/sign_logo.png"]{
	position: relative;
	top: 15px;
	left: -57px;
}

.sign a{
	text-decoration: none;
	background-color: white;
	color: black;
	padding: 20px;
	padding-right: 60px;
	border-radius: 30px;
	border: 1px solid #5a2f2f;
}
.sign a:hover{
     text-decoration: underline;
}
.header img[src="images/logo.png"]{
	margin-right: 400px;
}
.search input[type="text"]{
  width: 200px;
  height: 30px;
  border-radius:14px;

}
.search input[type="submit"]{
	padding: 10px;
	border-radius: 10px;
    font-size: 13px;
    margin-top: 5px;
}
.search{
	width: 205px;
	height: 35px;
	position: relative;
	top: 10px;
}

/* dropdowns --------
-------
-------------
----------
-------------------- */
.nav-bar{
	width: 96%;
	height: 50px;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5a2f2f;
}

.nav-bar li {
    float: left;
}

.nav-bar li a, .dropbtn1, .dropbtn2, .dropbtn3 {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover, .dropdown1:hover .dropbtn1, .dropdown2:hover .dropbtn2, .dropdown3:hover .dropbtn3 {
    background-color: #bb2b2b;
}

.nav-bar li.dropdown1,.nav-bar li.dropdown2,.nav-bar li.dropdown3 {
    display: inline-block;
}

.dropdown1-content,.dropdown2-content,.dropdown3-content {
    display: none;
    position: absolute;
    background-color: #ab5454;
    min-width: 168px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown1-content a, .dropdown2-content a, .dropdown3-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown1-content a:hover,.dropdown2-content a:hover,.dropdown3-content a:hover {background-color: #f1f1f1;}

.dropdown1:hover .dropdown1-content,.dropdown2:hover .dropdown2-content,.dropdown3:hover .dropdown3-content {
    display: block;
}
.body{
	background-color:#e6e6e6;
	width:96%;
	height:1500px;
	top:5px;
}
h3{
	margin:0px;
	padding-left:25px;
	padding-top:25px;
	text-color:red;
	
}
.para{
	padding-left:20px;
	width:860px;
}
hr{
	height:4px;
	background-color:green;
}







